
html {
  width: 100%;
  height: auto;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: auto;
}

.bod {
  width: 160%;
  height: 115px;
  left: 0;
  top: 0;
  margin-left: -50px;
  margin-top: 35px;
  border-radius: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
  display: block;

}

.bar {
  width:40%;
  position:fixed;
  top:0;
  left:450px;
  /* margin: auto 0;
  display:block; */
}

/* .top {
      top: 0px;
      text-align:center;
      border-radius: 0;
      padding: 0;
      position: relative;
      font-family: helvetica;
      color:white;
      z-index:10px;
      font-size: 21px;
    } */

.black {
  width: 160%;
  height: 35px;
  left: 0;
  top: 0;
  border-radius: 0;
  padding: 0;
  position: absolute;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: auto;
  z-index: -10px;
}

#stay {
  width: 9%;
  right: -30px;
}

#health {
  width: 13%;
  right: -30px;
  top: -20px;
}

#apart {
  width: 40%;
  top: -120px;
}

#ima {
  right: 172px;
  top: -150px;
}

#white {
  top: -50px;
  right: -20px;
}

#log {
  width: 30%;
  top: 130px;
  right: -100px;
}



.work {
  transition: transform 0.25s ease;
}

.work:hover {
  -webkit-transform: scale(1.1); /* or some other value */
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: none;
  color: red;
}
a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: red;
}

.logo {
  left: 0;
  top: 0;
  margin-left: 50px;
  margin-top: 58px;
  width: 5%;
  position: fixed;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  z-index: 10px;
  cursor: pointer;

}
.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.cart {
  right: 0;
  top: 0;
  margin-right: 50px;
  margin-top: 58px;
  width: 6%;
  position: fixed;
  cursor:pointer;
}

.work {
  top: 0;
  right: 0;
  left: 0;
  margin-top: -50px;
  text-align: center;
  position: fixed;
  color: black;
  font-size: 90px;
  font-family: Helvetica;
}

.side {
  position: fixed;
  top: 190px;
  margin-left: 57px;
  color: black;
  font-size: 30px;
  font-family: Helvetica;
  z-index: 5;
  border-radius: 25px;
  cursor: pointer;
}

.cov {
  position: fixed;
  bottom: 35px;
  margin-left: 30px;
  color: white;
  text-align: left;
  font-size: 50px;
  font-family: Helvetica;
  z-index: 5;
  border-radius: 25px;
  cursor: pointer;
}

.ad {
  position: fixed;
  bottom: 32px;
right: 107px;
  color: black;
  font-size: 25px;
  font-family: Helvetica;
  z-index: 5;
  border-radius: 25px;
  cursor: pointer;
}

.rectan {
  height: 70px;
  width: 200px;
  bottom: 35px;
right: 70px;
  position: fixed;
  z-index: inherit -5;
  background-color: #BDFF00;
  border-radius: 35px;
  cursor: pointer;
}

.empty {
  height: auto;
  width: 240px;
  top: 155px;
 right: 30px;
  position: fixed;
  z-index:50;
  display:none;
}

.empty.appear{
  display:block;
  z-index:50;
}

.em {
  height: auto;
  width: 240px;
  top: 155px;
 right: 30px;
  position: fixed;
  z-index:50;
  display:none;
}

.em.appear{
  display:block;
  z-index:50;
}


.rectangle {
  height: 70px;
  width: 240px;
  top: 205px;
  margin-left: 30px;
  position: fixed;
  z-index: inherit -5;
  background-color: #BDFF00;
  border-radius: 35px;
  cursor: pointer;
}


.ho {
  position: fixed;
  width: 13%;
  right:650px;
  top: 300px;
  display:block;
}

.hoodie {
  position: relative;
  width: 48%;
  top: -50px;
  display:none;
}

.hoodi {
  position: relative;
  width: 52%;
  display: none;
  top:-88px;
  left:-5px;
}

.hood {
  position: relative;
  width: 52%;
  display: none;
  top:-88px;
  left:-5px;
}

.uno {
width:40px;
height:40px;
margin: 0 auto;
border-radius: 50%;
position: fixed;
right: 395px;
top:210px;
background:white;
display:flex;
justify-content: center;
align-items:center;
cursor: pointer;
z-index:20;
}

.dos {
  width:40px;
  height:40px;
  margin: 0 auto;
  border-radius: 50%;
  position: fixed;
  right: 395px;
  top:270px;
  background:red;
  display:flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  z-index:20;
  }

  .tres {
    width:40px;
    height:40px;
    margin: 0 auto;
    border-radius: 50%;
    position: fixed;
    right: 395px;
    top:330px;
    background:blue;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    z-index:20;
    }

.hoodi.appear{
  display:block;
  position: absolute;
  z-index:10px;
}


.hoodie.appear{
  display:block;
  position: absolute;
  z-index:10px;
}

.hood.appear{
  display:block;
  position: absolute;
  z-index:10px;
}

.contain {
  width: 250px;
  height: 400px;
  float: right;
  position: relative;
  background: rgb(138, 138, 138);
}

.add {
  width:auto;
  height:400px;
  position: relative;
  left:623px;
}

.sizes {
  left:420px;
  top:110px;
  width:47%;
  position: relative;
}

.color {
  width:auto;
  height:400px;
  position: relative;
  left:450px;

}


.container {
  width: 900px;
  height: 560px;
  right: 0;
  margin-right: 50px;
  margin-top: 35px;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  background: none;
  padding: 20px;
}

.im {
  width: 20%;
  height: auto;
  position: relative;
  right: 0;
}

.draggable {
  cursor: move;
}

@media (min-width: 400px) and (max-width: 1024px) {

html {
  width: 100%;
  height: auto;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: auto;
}

.bod {
  width: 80%;
  height: 10px;
  left: 0;
  top: 0;
  margin-left: -50px;
  margin-top: 35px;
  border-radius: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
  display: block;

}

.bar {
  width:10%;
  position:fixed;
  top:0;
  left:450px;
  /* margin: auto 0;
  display:block; */
}

/* .top {
      top: 0px;
      text-align:center;
      border-radius: 0;
      padding: 0;
      position: relative;
      font-family: helvetica;
      color:white;
      z-index:10px;
      font-size: 21px;
    } */

.black {
  width: 160%;
  height: 35px;
  left: 0;
  top: 0;
  border-radius: 0;
  padding: 0;
  position: absolute;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: auto;
  z-index: -10px;
}

#stay {
  width: 9%;
  right: -30px;
}

#health {
  width: 13%;
  right: -30px;
  top: -20px;
}

#apart {
  width: 40%;
  top: -120px;
}

#ima {
  right: 172px;
  top: -150px;
}

#white {
  top: -50px;
  right: -20px;
}

#log {
  width: 30%;
  top: 130px;
  right: -100px;
}



.work {
  transition: transform 0.25s ease;
}

.work:hover {
  -webkit-transform: scale(1.1); /* or some other value */
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: none;
  color: red;
}
a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: red;
}

.logo {
  left: 0;
  top: 0;
  margin-left: 50px;
  margin-top: 58px;
  width: 5%;
  position: fixed;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  z-index: 10px;
  cursor: pointer;

}
.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.cart {
  right: 0;
  top: 0;
  margin-right: 50px;
  margin-top: 58px;
  width: 6%;
  position: fixed;
  cursor:pointer;
}

.work {
  top: 0;
  right: 0;
  left: 0;
  margin-top: -50px;
  text-align: center;
  position: fixed;
  color: black;
  font-size: 90px;
  font-family: Helvetica;
}

.side {
  position: fixed;
  top: 190px;
  margin-left: 57px;
  color: black;
  font-size: 30px;
  font-family: Helvetica;
  z-index: 5;
  border-radius: 25px;
  cursor: pointer;
}

.cov {
  position: fixed;
  bottom: 35px;
  margin-left: 30px;
  color: white;
  text-align: left;
  font-size: 50px;
  font-family: Helvetica;
  z-index: 5;
  border-radius: 25px;
  cursor: pointer;
}

.ad {
  position: fixed;
  bottom: 32px;
right: 107px;
  color: black;
  font-size: 25px;
  font-family: Helvetica;
  z-index: 5;
  border-radius: 25px;
  cursor: pointer;
}

.rectan {
  height: 70px;
  width: 200px;
  bottom: 35px;
right: 70px;
  position: fixed;
  z-index: inherit -5;
  background-color: #BDFF00;
  border-radius: 35px;
  cursor: pointer;
}

.empty {
  height: auto;
  width: 240px;
  top: 155px;
 right: 30px;
  position: fixed;
  z-index:50;
  display:none;
}

.empty.appear{
  display:block;
  z-index:50;
}

.em {
  height: auto;
  width: 240px;
  top: 155px;
 right: 30px;
  position: fixed;
  z-index:50;
  display:none;
}

.em.appear{
  display:block;
  z-index:50;
}


.rectangle {
  height: 70px;
  width: 240px;
  top: 205px;
  margin-left: 30px;
  position: fixed;
  z-index: inherit -5;
  background-color: #BDFF00;
  border-radius: 35px;
  cursor: pointer;
}


.ho {
  position: fixed;
  width: 13%;
  right:650px;
  top: 300px;
  display:block;
}

.hoodie {
  position: relative;
  width: 48%;
  top: -50px;
  display:none;
}

.hoodi {
  position: relative;
  width: 52%;
  display: none;
  top:-88px;
  left:-5px;
}

.hood {
  position: relative;
  width: 52%;
  display: none;
  top:-88px;
  left:-5px;
}

.uno {
width:40px;
height:40px;
margin: 0 auto;
border-radius: 50%;
position: fixed;
right: 395px;
top:210px;
background:white;
display:flex;
justify-content: center;
align-items:center;
cursor: pointer;
z-index:20;
}

.dos {
  width:40px;
  height:40px;
  margin: 0 auto;
  border-radius: 50%;
  position: fixed;
  right: 395px;
  top:270px;
  background:red;
  display:flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  z-index:20;
  }

  .tres {
    width:40px;
    height:40px;
    margin: 0 auto;
    border-radius: 50%;
    position: fixed;
    right: 395px;
    top:330px;
    background:blue;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    z-index:20;
    }

.hoodi.appear{
  display:block;
  position: absolute;
  z-index:10px;
}


.hoodie.appear{
  display:block;
  position: absolute;
  z-index:10px;
}

.hood.appear{
  display:block;
  position: absolute;
  z-index:10px;
}

.contain {
  width: 250px;
  height: 400px;
  float: right;
  position: relative;
  background: rgb(138, 138, 138);
}

.add {
  width:auto;
  height:400px;
  position: relative;
  left:623px;
}

.sizes {
  left:420px;
  top:110px;
  width:47%;
  position: relative;
}

.color {
  width:auto;
  height:400px;
  position: relative;
  left:450px;

}


.container {
  width: 900px;
  height: 560px;
  right: 0;
  margin-right: 50px;
  margin-top: 35px;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  background: none;
  padding: 20px;
}

.im {
  width: 20%;
  height: auto;
  position: relative;
  right: 0;
}

.draggable {
  cursor: move;
}
}
 