html {
  width: 100%;
  height: auto;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: auto;
}

.bod {
  width: 160%;
  height: 115px;
  left: 0;
  top: 0;
  margin-left: -50px;
  margin-top: 35px;
  border-radius: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: auto;
  display: block;
}

.bar {
  width:40%;
  position:fixed;
  top:0;
  left:450px;
  /* margin: auto 0;
  display:block; */
}

/* .top {
      top: 0px;
      text-align:center;
      border-radius: 0;
      padding: 0;
      position: relative;
      font-family: helvetica;
      color:white;
      z-index:10px;
      font-size: 21px;
    } */

.black {
  width: 100%;
  height: 35px;
  left: 0;
  top: 0;
  border-radius: 0;
  padding: 0;
  position: absolute;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: auto;
  z-index: -10px;
}

#stay {
  width: 9%;
  right: -30px;
}

#health {
  width: 13%;
  right: -30px;
  top: -20px;
}

#apart {
  width: 40%;
  top: -120px;
}

#ima {
  right: 172px;
  top: -150px;
}

#white {
  top: -50px;
  right: -20px;
}

#log {
  width: 30%;
  top: 130px;
  right: -100px;
}



.work {
  transition: transform 0.25s ease;
}

.work:hover {
  -webkit-transform: scale(1.1); /* or some other value */
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: none;
  color: red;
}
a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: red;
}

.logo {
  left: 0;
  top: 0;
  margin-left: 50px;
  margin-top: 58px;
  width: 5%;
  position: fixed;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  z-index: 10px;
}
.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.cart {
  right: 0;
  top: 0;
  margin-right: 50px;
  margin-top: 58px;
  width: 6%;
  position: fixed;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  z-index: 10px;
}

.work {
  top: 0;
  right: 0;
  left: 0;
  margin-top: -50px;
  text-align: center;
  position: fixed;
  color: black;
  font-size: 90px;
  font-family: Helvetica;
}

.side {
  position: fixed;
  bottom: 70px;
  margin-left: 75px;
  color: white;
  font-size: 50px;
  font-family: Helvetica;
  z-index: 5;
  border-radius: 25px;
}
.rectangle {
  height: 100px;
  width: 350px;
  bottom: 100px;
  margin-left: 50px;
  position: fixed;
  z-index: inherit -5;
  background-color: red;
  border-radius: 35px;
}

.hoodie {
  position: relative;
  width: 48%;
  top: -50px;
  display:none;
}

.hoodi {
  position: relative;
  width: 52%;
  display: none;
  top:-88px;
  left:-5px;
}

.hood {
  position: relative;
  width: 52%;
  display: none;
  top:-88px;
  left:-5px;
}

.uno {
width:40px;
height:40px;
margin: 0 auto;
border-radius: 50%;
position: fixed;
right: 395px;
top:210px;
background:white;
display:flex;
justify-content: center;
align-items:center;
cursor: pointer;
z-index:20;
}

.dos {
  width:40px;
  height:40px;
  margin: 0 auto;
  border-radius: 50%;
  position: fixed;
  right: 395px;
  top:270px;
  background:red;
  display:flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  z-index:20;
  }

  .tres {
    width:40px;
    height:40px;
    margin: 0 auto;
    border-radius: 50%;
    position: fixed;
    right: 395px;
    top:330px;
    background:blue;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    z-index:20;
    }

.hoodi.appear{
  display:block;
  position: absolute;
  z-index:10px;
}

.hoodie.appear{
  display:block;
  position: absolute;
  z-index:10px;
}

.hood.appear{
  display:block;
  position: absolute;
  z-index:10px;
}

.contain {
  width: 250px;
  height: 400px;
  float: right;
  position: relative;
  background: grey;
}

.add {
  width:auto;
  height:400px;
  position: relative;
  left:623px;

}

.color {
  width:auto;
  height:400px;
  position: relative;
  left:450px;

}


.container {
  width: 900px;
  height: 560px;
  right: 0;
  margin-right: 50px;
  margin-top: 35px;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  background: green;
  padding: 20px;
}

.im {
  width: 20%;
  height: auto;
  position: relative;
  right: 0;
}

.draggable {
  cursor: move;
}

@media (min-width: 400px) and (max-width: 1024px) {
  html {
    overflow-x: hidden;
    overflow-y: auto;
  }
  a {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 0.5px white;
  }
  a:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px cyan;
  }
  a:visited {
    text-decoration: none;
  }

  a:focus {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }
  .work {
    margin-left: 25px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: "Anton", sans-serif;
    display: flex;
  }
  .about {
    margin-left: 110px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: "Anton", sans-serif;
  }

  .contact {
    margin-left: 195px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: "Anton", sans-serif;
  }

  .logo {
    right: 0;
    margin-right: 30px;
    margin-top: 23px;
    width: 6%;
    position: fixed;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
  }

  .side {
    position: fixed;
    bottom: 40px;
    margin-left: -8px;
    color: black;
    font-family: "Anton", sans-serif;
    -webkit-text-stroke: 0.5px white;
    font-size: 40px;
    z-index: 5;
    transform: rotate(-90deg);
  }

  .rectangle {
    height: 152px;
    width: 70.4px;
    bottom: 35px;
    position: fixed;
    z-index: inherit -5;
    background-color: white;
  }

  .container {
    margin-top: 150px;
    width: 95%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contain {
    margin-top: 150px;
    width: 95%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  * {
    overflow-x: hidden;
    overflow-y: auto;
  }
  html {
    display: block;
    overflow-x: auto;
  }
  a {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 0.5px white;
  }
  a:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px yellow;
  }
  a:visited {
    text-decoration: none;
  }

  a:focus {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }
  .work {
    margin-left: 15px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: "Anton", sans-serif;
    display: flex;
  }
  .about {
    margin-left: 65px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: "Anton", sans-serif;
  }

  .contact {
    margin-left: 115px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: "Anton", sans-serif;
  }

  .logo {
    right: 0;
    margin-right: 30px;
    margin-top: 20px;
    width: 6%;
    position: fixed;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
  }

  .gif {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -10;
    top: 5%;
    left: -5%;
    right: 0;
  }
  .ny {
    position: absolute;
    width: 500%;
    height: auto;
    top: 90%;
    left: 10%;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Anton", sans-serif;
    transform: none;
  }

  strong {
    font-size: 55px;
    font-family: "Anton", sans-serif;
    letter-spacing: 1.5px;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }

  .des {
    width: 100%;
    height: auto;
    width: 500px;
    align-self: center;
    padding: 25px;
    color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 23px;
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
  }

  b {
    font-family: "Anton", sans-serif;

    color: grey;
    font-size: 20px;
  }
  .side {
    position: fixed;
    bottom: 40px;
    margin-left: -8px;
    color: black;
    font-family: "Anton", sans-serif;
    -webkit-text-stroke: 0.5px white;
    font-size: 40px;
    z-index: 5;
    transform: rotate(-90deg);
  }

  .rectangle {
    height: 152px;
    width: 70.4px;
    bottom: 35px;
    position: fixed;
    z-index: inherit -5;
    background-color: white;
  }

  .container {
    margin-top: 100px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .flex-image {
    width: 100%;
    height: auto;
    width: 300px;
    align-self: center;
    padding: 25px;
    background: none;
    z-index: -10px;
    display: none;
  }

  .contain {
    margin-top: 100px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .flex-im {
    width: 100%;
    height: auto;
    width: 300px;
    align-self: center;
    padding: 25px;
    background: none;
    z-index: -10px;
  }
}
