*{
  overflow-x: hidden;
  overflow-y:hidden;
}

html {
  width: 100px;
  height: 100px;
  background-color: black;
  overflow:hidden;
  cursor:auto;
}

body{
  width: 100px;
  height: 100px;
  overflow:hidden;
}

.work {
  transition:transform 0.25s ease;
}

.work:hover {
  -webkit-transform:scale(1.1); /* or some other value */
  transform:scale(1.1);
}

.about {
  transition:transform 0.25s ease;
}

.about:hover {
  -webkit-transform:scale(1.1); /* or some other value */
  transform:scale(1.1);
}

.contact {
  transition:transform 0.25s ease;
}

.contact:hover {
  -webkit-transform:scale(1.1); /* or some other value */
  transform:scale(1.1);
}

a {
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 1.8px white;
}
a:hover {
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 1.8px yellow;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 1.8px white;
}

.logo {
  right: 0;
  margin-right: 50px;
  margin-top: 50px;
  width: 5%;
  position: fixed;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.work {
  margin-left: 50px;
  margin-top: 25px;
  position: absolute;
  color: black;
  font-size: 30px;
  -webkit-text-stroke: 1.8px white;
  font-family: Impact, Charcoal, sans-serif;
  display:flex;

}
.about {
  margin-left: 200px;
  margin-top: 25px;
  position: absolute;
  color: black;
  font-size: 30px;
  -webkit-text-stroke: 1.8px white;
  font-family: Impact, Charcoal, sans-serif;

}

.contact {
  margin-left: 350px;
  margin-top: 25px;
  position: absolute;
  color: black;
  font-size: 30px;
  -webkit-text-stroke: 1.8px white;
  font-family: Impact, Charcoal, sans-serif;

}

.ny{
  position:absolute;
    bottom:150px;
   left: -20px;
    color: white;
    -webkit-text-stroke: 0.3px black;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Impact, Charcoal, sans-serif;
    transform: rotate(-90deg);
    display:none;g
}

.gif {
  position:absolute;
  width: 1350px;
  height: auto;
  z-index:-10;
  margin-top:2%;
  margin-left:7%;
}


@media (min-width: 400px) and (max-width: 1024px) {
  *{
    overflow-x: hidden;
  overflow-y:hidden;
  }

  html {
    overflow-x: hidden;
    overflow-y:hidden;
  }
  a {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 0.5px white;
  }
  a:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px yellow;
  }
  a:visited {
    text-decoration: none;
  }
  
  a:focus {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }
  .work {
    margin-left: 25px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: 'Anton', sans-serif;
        display:flex;
  }
  .about {
    margin-left: 110px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: 'Anton', sans-serif;
    }
  
  .contact {
    margin-left: 195px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: 'Anton', sans-serif;
    }

  .logo {
    right: 0;
    margin-right: 30px;
    margin-top: 23px;;
    width: 6%;
    position: fixed;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
  }

  .gif {
    position:absolute;
    width: 100%;
    height: auto;
    z-index:-10;
    top:12%;
    left:0;
    right:0;
  }
  .ny{
    position:absolute;
    width: 500%;
    height: auto;
    top:50%;
    left:10%;
      color: white;
      font-size: 14px;
      letter-spacing: 1px;
      font-family: 'Anton', sans-serif;
            transform: none;
  }
  .gif_o {
    display:flex;
    position:absolute;
    width: 100%;
    height: auto;
    z-index:-10;
    top:50%;
    left:0;
    right:0;
    opacity: 30%;
    transform: rotate(180deg);
  }

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
*{
  overflow-x: hidden;
  overflow-y:hidden;
}
  html {
display:block;
    overflow-x: hidden;
    overflow-y:hidden;
  }
  a {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 0.5px white;
  }
  a:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px yellow;
  }
  a:visited {
    text-decoration: none;
  }
  
  a:focus {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }
  .work {
    margin-left: 15px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
        display:flex;
  }
  .about {
    margin-left: 65px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    }
  
  .contact {
    margin-left: 115px;
    margin-top: 0;
    position: absolute;
    color: black;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    }

  .logo {
    right: 0;
    margin-right: 30px;
    margin-top: 20px;;
    width: 6%;
    position: fixed;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
  }

  .gif {
    position:absolute;
    width: 100%;
    height: auto;
    z-index:-10;
    top:5%;
    left:-5%;
    right:0;
  }
  .ny{
    position:absolute;
    width: 500%;
    height: auto;
    top:90%;
    left:10%;
      color: white;
      font-size: 14px;
      letter-spacing: 1px;
      font-family: 'Anton', sans-serif;
            transform: none;
  }


}

