html {
    width:100%;
    height:auto;
    background-color: black;
    cursor:auto;
    overflow-x: hidden;
    overflow-y:auto;
  }

  .work {
    transition:transform 0.25s ease;
  }
  
  .work:hover {
    -webkit-transform:scale(1.1); /* or some other value */
    transform:scale(1.1);
  }
  
  .about {
    transition:transform 0.25s ease;
  }
  
  .about:hover {
    -webkit-transform:scale(1.1); /* or some other value */
    transform:scale(1.1);
  }
  
  .contact {
    transition:transform 0.25s ease;
  }
  
  .contact:hover {
    -webkit-transform:scale(1.1); /* or some other value */
    transform:scale(1.1);
  }
  
  a {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }
  a:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px cyan;
  }
  a:visited {
    text-decoration: none;
  }
  
  a:focus {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }

  .logo {
    right:0;
    margin-right: 50px;
    margin-top: 50px;
    width: 5%;
    position:fixed;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition:         transform .6s ease-in-out;
  }
  .logo:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .work{
    margin-left:50px;
    margin-top:25px;
    position: absolute;
    color: black;
      font-size: 30px;
      -webkit-text-stroke: 1.8px white;
    font-family: Impact;
  }
  .about{
    margin-left:200px;
    margin-top:25px;
    position: absolute;
    color: black;
      font-size: 30px;
      -webkit-text-stroke: 1.8px white;
    font-family: Impact;
  }
  
  .contact{
    margin-left:350px;
    margin-top:25px;
    position: absolute;
    color: black;
      font-size: 30px;
      -webkit-text-stroke: 1.8px white;
    font-family: Impact;
  }
  .side{
    position:fixed;
    bottom:83px;
    margin-left: -40px;
    color: black;
    font-size: 29px;
    font-family: Impact;
    z-index: 5;
    transform: rotate(-90deg);
  }
  .rectangle {
    height: 190px;
    width: 88px;
    bottom:35px;
    position:fixed;
    z-index: inherit -5;
    background-color: white;
  }

  .container{
    margin-top: 150px;
    width:100%;
    max-width: 100%;
    height:100%;
    position:absolute;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  }
  
  .flex-image {
    width:100%;
    height:auto;
    width:500px;
    align-self:center;
    padding:25px;
  }

strong{
    font-size: 55px;
    font-family: Impact;
    letter-spacing: 1.5px;
    color:black;
    -webkit-text-stroke: 1px white;

}
.des {
    width:100%;
    height:auto;
    width:500px;
    align-self:center;
    padding:25px; 
    color:rgb(224, 224, 224);
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 23px;
    font-family: Impact;
    letter-spacing: 1px;
    word-spacing: 1px;

}

b{
    color:grey;
    font-size: 20px;
}


i{
  color:white;
  font-size: 15px;  
}

@media (min-width: 400px) and (max-width: 1024px) {
  *{
    font-family: 'Anton', sans-serif; 
  }
  html{
  Width:100%;
  Overflow-x:hidden;
  Overflow-y:auto;
  }

  a {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 0.5px white;
  }
  a:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px cyan;
  }
  a:visited {
    text-decoration: none;
  }
  
  a:focus {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1.8px white;
  }
  
      .work {
        margin-left: 25px;
        margin-top: 0;
        position: absolute;
        color: black;
        font-size: 22px;
        display:flex;
      }
      .about {
        margin-left: 110px;
        margin-top: 0;
        position: absolute;
        color: black;
        font-size: 22px;
      }
      
      .contact {
        margin-left: 195px;
        margin-top: 0;
        position: absolute;
        color: black;
        font-size: 22px;
      }
    
      .logo {
        right: 0;
        margin-right: 25px;
        margin-top: 20px;;
        width: 9%;
        position: fixed;
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
      }
  
      .side{
        position:fixed;
        bottom:76px;
        margin-left: -33px;
        color: black;
        font-size: 22px;
        z-index: 5;
        transform: rotate(-90deg);
      }
      .rectangle {
        height: 152px;
        width: 70.4px;
        bottom:35px;
        position:fixed;
        z-index: inherit -5;
        background-color: white;
      }
  
      .container{
        margin-top: 150px;
        width:95%;
        max-width: 100%;
        height:100%;
        position:absolute;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
      }
      strong{
        font-size: 55px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1.5px;
        color: black;
        -webkit-text-stroke: 1.8px white;
    
    }

      .des {
        width:100%;
        height:auto;
        width:500px;
        align-self:center;
        padding:25px; 
        color:rgb(224, 224, 224);
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        font-size: 23px;
        font-family: 'Anton', sans-serif;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    
    b{
      font-family: 'Anton', sans-serif;

        color:grey;
        font-size: 20px;
    }
    }
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
      *{
        overflow-x: hidden;
        overflow-y:auto;
      }
        html {
      display:block;
          overflow-x: auto;
        }
        a {
          text-decoration: none;
          color: black;
          -webkit-text-stroke: 0.5px white;
        }
        a:hover {
          text-decoration: none;
          color: black;
          -webkit-text-stroke: 1.8px yellow;
        }
        a:visited {
          text-decoration: none;
        }
        
        a:focus {
          text-decoration: none;
          color: black;
          -webkit-text-stroke: 1.8px white;
        }
        .work {
          margin-left: 15px;
          margin-top: 0;
          position: absolute;
          color: black;
          font-size: 15px;
          font-family: 'Anton', sans-serif;
              display:flex;
        }
        .about {
          margin-left: 65px;
          margin-top: 0;
          position: absolute;
          color: black;
          font-size: 15px;
          font-family: 'Anton', sans-serif;
          }
        
        .contact {
          margin-left: 115px;
          margin-top: 0;
          position: absolute;
          color: black;
          font-size: 15px;
          font-family: 'Anton', sans-serif;
          }
      
        .logo {
          right: 0;
          margin-right: 30px;
          margin-top: 20px;;
          width: ;
          position: fixed;
          -webkit-transition: -webkit-transform 0.6s ease-in-out;
          transition: transform 0.6s ease-in-out;
        }
      
        .gif {
          position:absolute;
          width: 100%;
          height: auto;
          z-index:-10;
          top:5%;
          left:-5%;
          right:0;
        }
        .ny{
          position:absolute;
          width: 500%;
          height: auto;
          top:90%;
          left:10%;
            color: white;
            font-size: 14px;
            letter-spacing: 1px;
            font-family: 'Anton', sans-serif;
                  transform: none;
        }
      
        strong{
          font-size: 25px;
          font-family: 'Anton', sans-serif;
          letter-spacing: 1.5px;
          color: black;
          -webkit-text-stroke: 0.5px white;
      
      }
      
        .des {
          width:100%;
          height:auto;
          width:300px;
          align-self:center;
          padding:25px; 
          color:rgb(224, 224, 224);
          display: flex;
          justify-content:center;
          align-items: center;
          text-align: center;
          font-size: 13px;
          font-family: 'Anton', sans-serif;
          letter-spacing: 1px;
          word-spacing: 1px;
      }
      
      b{
        font-family: 'Anton', sans-serif;
      
          color:grey;
          font-size: 20px;
      }
      .side{
display:none;
      }
  
      .rectangle {
display:none;
      }
  
      .container{
        margin-top: 100px;
        width:100%;
        max-width: 100%;
        height:100%;
        position:absolute;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
      }
      .flex-image {
        width:100%;
        height:auto;
        width:300px;
        align-self:center;
        padding:25px;
        background:none;
        z-index:-10px;
      }
    
  
      
      }