.albums{
	background-color: black;
	width:100%;
	min-height:200%;
	position:relative;
}

.container{
	width:100%;
	max-width: 80%;
	height:100%;
	margin: 0 auto;
	position:relative;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.flex-image {
	width:100%;
	height:auto;
	width:400px;
	align-self:center;
	padding:20px;
}

/*code for mobile*/
@media (max-width: 800px) {
.container{
	background:green;
		flex-direction: column;

}

}
