.albums{
	background-color: black;
	width:100%;
	min-height:100%;
	position:relative;
}

.container{
	width:100%;
	max-width: 80%;
	height:100%;
	margin: 0 auto;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.clip{
	width:100%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:fixed;
	align-self: center;
	bottom: -50px;
	flex-wrap: wrap;

}

.face{
	width:21%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	left: 510px;
	bottom:380px;
}

.hat{
	width: 350px;
	position:relative;
	left:-250px;
	bottom:-32px;
}

.chus{
	width:30%;
	position: absolute;
	margin:0 auto;
	display: block;
	top:61px;
	right:190px;
}

.mask{
	width:5.9%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:300px;
	left:660px;
	transform: rotate(15deg);
}

.shoes{
	width:8%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
}

.money{
	width:8%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:160px;
	right:500px;
}

.changey{
	width:5%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	left:165px;
	bottom:40px;
}

.oran{
	width:3.2%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:40px;
	left:128px;

}

.changep{
	width:5%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:40px;
	left: 55px;
}
/*code for mobile*/

@media (max-width: 1500px){
	.albums{
		background:white;
	}
	.clip {
	margin:0 auto;
	display:block;
	align-self: center;
	width:120%;
}

}

@media (max-width: 1300px){
	.albums{
		background:#ff9600;
	}
	.clip {
	margin:0 auto;
	display:block;
	align-self: center;
	width:120%;
	bottom:100px;
}

}
@media (max-width: 1000px){
	.albums{
		background:#ff66f6;
	}
	.clip {
	margin:0 auto;
	display:block;
	align-self: center;
	width:120%;
	left:-45px;
	bottom:250px;
}
}


@media (max-width: 800px){
.albums {
	background:#fffc25;
}

.container {
	flex-direction: column;
	filter: invert(100%);
}
.container:hover {
   animation: bounce 0.5s infinite; //other browsers
   -webkit-animation: bounce 0.5s infinite; //webkit browsers
   -moz-animation: bounce 0.5s infinite; //firefox
   -o-animation: bounce 0.5s infinite; //opera
}

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-80px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-80px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-80px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-80px);
    }
}

.clip {
	margin:0 auto;
	display:block;
	align-self: center;
	width:120%;
	left:-45px;
	bottom:250px;
}

.hat{
	width: 230px;
	position:relative;
	left:-100px;
	bottom:-32px;
}

.face{
	width:21%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	left: 160px;
	bottom:400px;
}
.mask{
	width:5.9%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:368px;
	left:215px;
	transform: rotate(15deg);
}
.chus{
	width:30%;
	position: absolute;
	margin:0 auto;
	display: block;
	top:301px;
	right:30px;
}

}


