.albums{
	background-color: #fffc25;
	width:100%;
	min-height:100%;
	position:relative;
}
.container{
	width:100%;
	max-width: 80%;
	height:100%;
	margin: 0 auto;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.clip{
	width:100%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:fixed;
	align-self: center;
	bottom: -50px;

}

.face{
	width:21%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	left: 510px;
	bottom:380px;
}

.hat{
	width: 350px;
	position:relative;
	left:-250px;
	bottom:-32px;
}

.chus{
	width:30%;
	position: absolute;
	margin:0 auto;
	display: block;
	top:61px;
	right:190px;
}

.mask{
	width:5.9%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:300px;
	left:660px;
	transform: rotate(15deg);
}

.shoes{
	width:8%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
}

.money{
	width:8%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:160px;
	right:500px;
}

.changey{
	width:5%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	left:165px;
	bottom:40px;
}

.oran{
	width:3.2%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:40px;
	left:128px;

}

.changep{
	width:5%;
	height:auto;
	margin: 0 auto;
	display:block;
	position:absolute;
	bottom:40px;
	left: 55px;
}
/*code for mobile*/
@media (max-width: 800px){
.container{
	background:blue;
		flex-direction: column;

}
