html {
	width: 100%;
	height: auto;
}
.home {
	background-color: rgb(9.5, 9.5, 9.5);
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100%;
	display: block;
	overflow-x: hidden;
}
h1 {
	font-family: "Nanum Myeongjo";
	letter-spacing: 40px;
	font-size: 40px;
	text-align: center;
	/* margin-top: -100px; */
	color: white;
	position: static;
	/* margin-left: 340px;  NOTE: removing this margin left so it's centered*/
	margin-top: 150px;
	margin-bottom: 150px;
	z-index: 5;
}

.er{
	font-size: 30px;
}

.fixed-navigation {
	/* NOTE: because you want this in upper right corner, lets add a "fixed" position */
	position: fixed;
	/* NOTE: this positions to 110px from the top of the viewport */
	top: 110px;
	/* NOTE:this positions to 30px to the right of the viewport */
	right: 100px;
}
.logo {
	/* max-width: 7%; */
	/* margin-left: 1600px; */
	/* margin-top: 110px; */
	/* position: static; */
	/* float: right; */
	/* margin-right: 100px; */
	max-width: 100px;
	height: auto;
}
.navigation {
	position: fixed;
	top: 220px;
	right: 130px;
}
.navigation a {
	text-decoration: none;
	color: white;
}
.menu {
	/* //margin-top: -3100px; */
	/* margin-left: 1628px;  */
	z-index: 100;
	color: white;
	font-family: "Nanum Myeongjo";
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
	text-decoration: none;
}
.menu-show {
	display: none;
}
/* when hovering on navigation class, display the hidden menu */
.navigation:hover .menu-show {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
  padding: 10px;
}


