html{
	width:auto;
	height:auto;
}
.home{
background-color: rgb(9.5,9.5,9.5);
background-size: contain;
background-position: top;
display: block;
overflow-x: hidden;
}

h1 {
  font-family: "Nanum Myeongjo";
  letter-spacing: 40px;
  font-size: 40px;
  text-align: center;
  color: white;
  position: static;
  margin-left: 340px;
  margin-top: 150px;
  z-index: 5;

}
.logo {
max-width:7%;
height:auto;
margin-top: 110px;
position: static;
float: right;
margin-right: 100px;
}
.second{
   max-width:20%;
   height:auto;
   padding-top: 40px;
   padding-left: 50px;
}
.menu{
	color: white;
	font-family: "Nanum Myeongjo";
	letter-spacing: 6.43px;
	font-size: 13px;
}
.GOFFEEL{
	position: static;
	align-self: center;
	margin-left: 830px;
	margin-top:-3000px;
}
p{
	text-align: center;
	color: white;
}
.Gd {
	color: white;
	font-size: 33px;
	letter-spacing: 8.43px;
	word-break: 200px;
	align-self:center;
 	max-width:20%;
   height:auto;
   padding-top: 283px;
   padding-left: 770px;
}
.RVd{
	letter-spacing: 8.43px;
	word-break: 200px;
}

#primary_nav_wrap{
	align-self:center;
	float: right;
	margin-top: -3992px;
	margin-right: 47px;

}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
}

.menu{
		letter-spacing: 11px;
		color:white;
}

#primary_nav_wrap ul a {
	display:block;
	text-decoration:none;
	font-weight:700;
	font-size:20px;
	line-height:32px;
	padding:0 15px;
	font-family:"Nanum Myeongjo";
}

#primary_nav_wrap ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item{
	background:#ddd;
}

#primary_nav_wrap ul li:hover {
	background:#f6f6f6;
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

#primary_nav_wrap ul ul li {
	float:none;
	width:200px;
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	padding:10px;
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%;
}

#primary_nav_wrap ul li:hover > ul {
	display:block;
}
