
html{
  width:100%
  height:auto;
  background-color: black;
}
body {
  font-size:1em;
  background:black;
  color:white;
}

.t{
  float:left;
  margin:0 auto;
  z-index:2;
 display: block;
}

.fondo{
  display:block;
  margin: 0 auto;
  width: 96%;
  margin-top: -120px;
}

.pu {
  right: 30px;
  width: 20%;
  position:fixed;
}

.narrationn {
  text-align:right;
  padding-top: 350px;
  font-size: 25px;
  margin-right: 43px;
}

.narration {
  font-size: 25px;
  margin-right: 50px;
}

.dj {
  display:block;
  font-size: 40px;
  color: yellow;
  text-align:center;
  margin-top: -100px;
}

.dialoguev {
  color:white;
  font-size:40px;
  margin-top: 150px;
  margin-left: 50px;
}

.no{
  float:right;
  margin-right: 290px;
  width:30%;
}

.julio {

  margin-top: 370px;
  text-align:right;
  color:yellow;
  font-size: 40px;
}
#bre{
  text-align: right;
}

#jok{
 margin-top: 370px;
}

.dialoguej
{
  text-align:right;
  color:yellow;
  font-size: 40px;
  margin-right: 50px;
}


.po{
  margin: 0 auto;
  align-content: center;
  display:block;
}

p {
  margin:0;
}

          
